@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

/*reset*/
*{margin: 0;padding: 0;list-style: none;text-decoration: none;box-sizing: border-box;}
i{font-style: normal;}
button{background: transparent ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer;}
input{border: none;background: transparent;}
input:focus{outline: none; caret-color: #ffffffb8;}

/*commons*/
html{font-size: 62.5%;}
body{position: relative;width: 100%;height: 100%;font-family: 'Noto Sans KR',sans-serif;font-size:1.5rem;color: #fff;background-color: #15171E;}
.w1600{max-width: 1600px;margin:0 auto;padding: 0 16px;}
._flex{display: flex;}
._flex-between{display: flex;justify-content: space-between;flex-wrap: wrap;}
._flex-end{display: flex;justify-content: flex-end;flex-wrap: wrap;}
._flex-start{display: flex;justify-content: flex-start;flex-wrap: wrap;}
._flex-center{display: flex;justify-content: center;flex-wrap: wrap;}
._al-center{align-items: center;}
.color-white-2{color: #ffffffb8;}
._border-bottom{border-bottom: 1px solid #ffffff0f;}
._border{border:1px solid #ffffff0f;}
._radius-4{border-radius: 4px;}
._none{display: none !important;}
._buy-hover:hover{border:2px solid #47a6ff !important;}


/*header*/
.header .w1600{position: relative;}
.header.fixed-active{margin-bottom: 50px;}
.header .nav-bar{position: relative;margin: 24px 0;}
.header .nav-bar h1.logo{width:197px;height: 40px;}
.header .nav-bar h1.logo a{width: 100%;height: 100%;align-items: flex-end;}
.header .nav-bar h1.logo img{display: block;width: 100%;height: auto;}
.header .nav-bar .nav-item ul{position: relative;right: 30px;}
.header .nav-bar .nav-item ul li a{margin-left:30px; color: #ffffffb8;}
.header .nav-bar .nav-item ul li:first-child{margin-left: 0;}
.header .nav-bar .nav-item ul li.user {z-index: 51;}
.header .nav-bar .nav-item ul li.user span{position: relative;display: inline-block;transform: rotate(90deg);font-size: 1.25rem;font-family: cursive;top:0;}
.header .nav-bar .nav-item ul li.user span.active{transform: rotate(-90deg);top:-2px;}
/*내계정 모달창*/
.header .nav-bar .nav-item-modal{position:absolute;width: 100%;max-width: 318px; background-color: #1a1c23;top:39px;right:0;border-radius: 4px;z-index: 51;}
.header .nav-bar .nav-item-modal .tick{display: block;position:absolute;width: 10px;height: 10px;background: #272930;
border-top: solid 1px #ffffff0f;border-right: solid 1px #ffffff0f;transform: rotate(-45deg);top:-6px;right:27px;}
.header .nav-bar .nav-item-modal .tick .fake-background{display: block;width: 0;height: 0;border:5px solid transparent; border-left-color: #1a1c23;border-bottom-color: #1a1c23;}
.header .nav-bar .nav-item-modal .login-div{margin:0 16px;padding: 24px 0;}
.header .nav-bar .nav-item-modal .login-div a{display: block;padding: 8px 32px; text-align: center;background-color: #0074e0;color: #fff;border-radius: 4px;}
.header .nav-bar .nav-item-modal .user-account .modal-account-a{height: 44px;margin: 8px;padding: 0 8px;color: #ffffffb8;border-radius: 4px;}
.header .nav-bar .nav-item-modal .user-account .modal-account-a span{font-size: 1.2rem;line-height: 12px;}
.header .nav-bar .nav-item-modal .user-account .modal-account-a i.icon{font-size: 1.1rem;padding-right: 5px;}
i.icon.fa-user-plus{font-size: 1.2rem;}
/*메뉴컨테이너*/
.menu-container{width: 100%;height: 50px;}
.menu-container.scroll-fixed{position: fixed;width: calc(100% - 32px);max-width: 1568px;padding: 16px 0;top:0;background-color: #15171E;z-index: 9999;box-sizing: unset;;}
.menu-container > div{position: relative;background-color:#ffffff0f; color: #ffffffb8;}
.menu-container{display: grid;grid-template-columns:8.2fr 2.5fr 48px .8fr;gap: 8px 8px;}
.menu-container .coin-menu{min-width: 101px;}
.menu-container .menu-button{position: relative;height: 100%;padding: 0 16px;color:#ffffffb8;font-weight: bold;transition: background-color 0.2s linear;}
.menu-container .menu-button::after{
    content: '';
    position: absolute;
    display: block;
    width: 0px;
    bottom: 0;
    border-bottom:2px solid #148eff;
    transition: width 0.2s linear;
}
.menu-container .menu-button i.icon{font-size: 0.8rem;margin-left: 4px;margin-top: 1px;transform: rotate(0deg);transition: transform 0.2s linear;}
.menu-container .menu-button:hover,
.menu-container .menu-button.active{background-color: #ffffff0f;}
.menu-container .menu-button.active:after{width: 100%;}
.menu-container .menu-button.active i.icon{transform: rotate(180deg);}
.menu-container .search i.icon{padding-left:16px;}
.menu-container .search input#search{width:calc(100% - 46px);margin-left:10px;color:#ffffffb8;font-size: 1.4rem;}
.menu-container .coin-menu .menu-button{width: 100%;}
/*input 자동완성 css 초기화*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
transition: background-color 5000s;
-webkit-text-fill-color: #ffffffb8 !important;
}

/*드롭메뉴*/
.menu-container .drop-menu .menu-list{position: absolute;width:830px;padding:10px;margin-top: 2px;background-color: #1a1c23;border:1px solid #ffffff1f;z-index: 49;}
.menu-container .coin-menu.drop-menu .menu-list{width: 218px;right:0;}
.menu-container .drop-menu .menu-list .game{width: 520px;}
.menu-container .drop-menu .menu-list .service{width: calc(100% - 520px);}
.menu-container .drop-menu .menu-list .menu-box h4{margin:8px;font-size: 1.1rem;color: #ffffffb8;}
.menu-container .drop-menu .menu-list .menu-box .menu-lists{padding-top: 8px;}
.menu-container .drop-menu .menu-list .menu-box .menu-lists ul{padding-right: 8px;}
.menu-container .drop-menu .menu-list .menu-box .menu-lists ul:last-child{padding-right: 0;}
.menu-container .drop-menu .menu-list .menu-box ul li{position: relative;padding:8px;border-radius: 4px;background-color: transparent;transition: background-color 0.2s linear;}
.menu-container .drop-menu .menu-list .menu-box ul li:hover{background-color: #ffffff0f;}
.menu-container .drop-menu .menu-list .menu-box ul li:hover a{color: #fff;}
.menu-container .drop-menu .menu-list .menu-box ul li a{display: flex;color: #ffffffb8;font-size: 1.3rem;align-items: center;}
.menu-container .drop-menu .menu-list .game .game-menu-ul{width: 50%;}
.menu-container .drop-menu .menu-list .game .game-menu-ul li a img{width: 16px;height: 16px;margin-right:8px;}
.menu-container .drop-menu .menu-list .game .game-menu-ul li a span{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.menu-container .drop-menu .menu-list .service-menu-ul li a i.icon{margin-right: 8px;font-size: 0.7rem;}
.menu-container .drop-menu .menu-list .service-menu-ul li a i.fa-up-right-from-square{position: absolute;right:0;}
.menu-container .drop-menu .menu-list .coin{width: 100%;}
/*banner-section*/
#banner-section{position: relative;margin-top: 32px;}
#banner-section .banner-box{width: 100%;max-width:1568px;overflow: hidden;}
#banner-section .banner-box .item{height: 360px;}
#banner-section .banner-box .banner-text{position: relative;max-width: 288px;margin-left:160px;height: 100%;font-size: 2rem;}
#banner-section .banner-box .banner-text img{display: block;width: 286px;height: auto;margin:8px auto;}
#banner-section .banner-box .banner-text h4{text-align: center;margin-bottom: 16px;word-break:keep-all;}
#banner-section .banner-box .banner-text .buy-link{display: block;width: 100%;max-width: 280px;margin:8px auto 0 auto;padding:11px 38px;font-size: 2rem;font-weight: bold;text-align: center;color: #fff;background-color: #0074E0;border:2px solid transparent;}
#banner-section .banner-box .banner-bg{position: absolute;width: 100%;top:0;left:0;z-index: -1;}
#banner-section .banner-box .banner-bg .bg-gradient{position:absolute;width: 100%;height: 100%;background:linear-gradient(to right,#22242c 0%,rgba(34,36,44,.6) 400px,transparent 600px),linear-gradient(to left,#22242c 0px,rgba(34,36,44,0) 160px);}
#banner-section .banner-box .item .bg-img{width: 100%;height: 360px;background-position:center;background-size: 100% 360px;}
/*각배너 리사이즈*/
#banner-section .banner-box .item02 .banner-text img{width: 320px;}
#banner-section .banner-box .item03 .banner-text img{width: 215px;}
#banner-section .banner-box .item01 .bg-img{background-image:url(../img/banner/diablo_background.webp);}
#banner-section .banner-box .item02 .bg-img{background-image: url(../img/banner/warzone_background.webp);background-size: 100% 490px;}
#banner-section .banner-box .item03 .bg-img{background-image: url(../img/banner/stone_background.webp);background-size: 100% 490px;}
#banner-section .banner-box .item04 .bg-img{background-image: url(../img/banner/callof_background.webp);background-size: 100% 490px;}
/*배너 컨트롤러*/
#banner-section .banner-box .owl-dots{margin-top: 12px;}
#banner-section .banner-box .owl-dots .owl-dot{height: 16px;margin-right:8px;}
#banner-section .banner-box .owl-dots .owl-dot:last-child{margin-right: 0;}
#banner-section .banner-box .owl-dots .owl-dot span{display: block;width: 40px;height: 4px;border:0;border-radius: 4px;background-color: #ffffff7a;margin: 0 0 1px 0;}
#banner-section .banner-box .owl-dots .owl-dot.active span{background-color: #148eff;height: 6px;margin:0;}
#banner-section .banner-box .owl-nav{position: absolute;width: 100%;margin:0;top: 0;}
#banner-section .banner-box .owl-nav button{position: absolute;width: 40px;height: 80px;top:180px;transform: translateY(-50%);
background-color: #15171e;border:1px solid #ffffff7a;border-radius: 4px;opacity: 0;transition: all 0.5s linear;}
#banner-section .banner-box .owl-nav button.owl-next{right:0;}
#banner-section .banner-box .owl-nav button.owl-prev{left:0;}
#banner-section .banner-box .owl-nav span{font-size: 4.5rem;line-height: 26px;}
#banner-section .banner-autoplay{position:absolute;bottom: 0;left:calc(50% - 116px);z-index: 30;}
#banner-section .banner-autoplay button{cursor: pointer;}
#banner-section .banner-autoplay button i{color: #ffffff7a;}
/*배너호버*/
#banner-section .banner-box:hover .owl-nav button{opacity: 1;}
#banner-section .banner-box .owl-nav button:hover,
#banner-section .banner-box .owl-nav button:focus{border:2px solid #ffffff5c;}

/*gamebar-section*/
#gamebar-section .game-failmy-box{width:100%;margin-top: 32px;padding:16px;background-color: #ffffff0f;}
#gamebar-section .game-failmy-box h4{padding-bottom: 8px;font-size: 1.4rem;font-weight: normal;}
#gamebar-section .game-failmy-box .game-list li{margin-left:16px;}
#gamebar-section .game-failmy-box .game-list a{display: block;}
#gamebar-section .game-failmy-box .game-list img{width: 40px;height: 40px;transition: transform 0.2s ease;}
#gamebar-section .game-failmy-box .game-list a:hover img{transform: scale(1.2);}


/*list-section*/
.list-section{padding-top: 64px;}
.list-section .list-tit{margin-bottom: 24px;font-size: 2.4rem;line-height: 28px;font-weight: 700;}
.list-section .list-product .card-group{display: grid;gap:24px 24px;grid-gap:24px 24px;grid-template-columns:repeat(5,minmax(0,1fr));margin-top: 16px;}
.list-section .card-group .list-card{width: 100%;height: 100%;background-color: #111218;border-radius: 4px;}
.list-section .card-group .list-card a.card{display: flex;width: 100%;height: 100%;background-color: #ffffff0f;flex-direction: column;color: #ffffffd6;transition: all 0.3s linear;}
.list-section .card-group .list-card:hover a.card{background-color: #ffffff1f;}
.list-section .card-group .list-card:hover a.card .text-box{transform: translateY(-4%);}
.list-section a.card .card-img{position: relative;width: 100%;overflow: hidden;padding-top:56.25%;}
.list-section a.card .card-img img{position:absolute;display: block;width: 100%;height: 100%;object-fit:cover;object-position:center 10%;top:0;border-radius: 4px 4px 0 0;}
.list-section a.card .text-box{padding:24px 24px 0 24px;word-break: keep-all;transform: translateY(0);transition: all 0.3s linear;}
.list-section a.card .text-box .small-tit{font-weight: normal;margin-bottom: 4px;}
.list-section a.card .text-box .small-tit img{width: 24px;height: 24px;}
.list-section a.card .text-box .small-tit span{padding:0 0 3px 4px;font-size: 1.2rem;letter-spacing:1.6px;;color: #ffffffb8;}
.list-section a.card .text-box .card-tit{margin:4px 0;font-size: 1.9rem;line-height: 23px;}
.list-section a.card .text-box .detail-text{margin:4px 0;font-size: 1.4rem;color: #ffb400;}
.list-section a.card .text-box .tag{display: block;margin: 4px 0;color:#ffffffb8;}
.list-section .card-group .list-card a.card .price{padding: 24px 24px;margin-top: auto;margin-bottom: 0;font-weight: 700;}

/*download section*/
#download-app-section{margin-top:80px;background: url(../img/background_down.webp) no-repeat center center;background-size: cover; border-top:1px solid #ffffff3d;border-bottom:1px solid #ffffff3d;}
#download-app-section .download-container{width: 100%;padding:56px 0 56px 16px;align-items: center;}
#download-app-section .app-description h2{font-size: 4.4rem;}
#download-app-section .app-description .point{margin:16px 0 40px 0;}
#download-app-section .app-description .point li{display:flex;margin:8px 0;align-items: center;}
#download-app-section .app-description .point i.icon{margin-right:16px;color: #0074e0;font-size: 2rem;}
#download-app-section .app-description .point span{font-size: 2rem;}
#download-app-section .app-description .links a{padding:8px 30px;font-size: 1.6rem;color: #fff;font-weight: 700;line-height: 25px;margin-top: 4px;margin-bottom: 4px;border:2px solid transparent;transition: border 0.3s linear;}
#download-app-section .app-description .links a.download-button:hover{border:2px solid #47a6ff;}
#download-app-section .app-description .links a.more-button:hover{border:2px solid #ffffff2e;}

#download-app-section .app-description .links .download-button{width:300px;background-color:#0074e0;margin-right:16px;}
#download-app-section .app-description .links .download-button i.icon{margin-left:6px;    padding-top: 4px;font-size: 1.8rem;}
#download-app-section .app-description .links .more-button{background-color: #ffffff1f;}
#download-app-section .app-description .sup{margin:8px 0;padding-top: 16px;color: #fff9;font-size: 1.6rem;}
#download-app-section .app-description .sup a{color: #148eff;text-decoration:underline;}
#download-app-section .app-img-box{width: 50%;height: 333px;}
#download-app-section .app-img-box img{width: 80%;height: auto;margin-left: auto;}

#footer{text-align: center;padding-top: 80px;min-height: 600px;font-size: 1.6rem;}
#footer *{color: rgba(255, 255, 255, 0.7)}
#footer .w1600{padding:0 16px;}
#footer .lenguage .lenguage-toggle{margin:0 auto;}
#footer .lenguage .lenguage-toggle .globa-icon{font-size: 1.7rem;color: #009dff;margin-right: 7px;}
#footer .lenguage .lenguage-toggle span{font-size: 1.6rem;}
#footer .lenguage .lenguage-toggle .arrow-box{height:21px;flex-direction: column;justify-content: center;margin-left: 8px;}
#footer .lenguage .lenguage-toggle .arrow-box i.icon{font-size: 1rem; height: 7px;}
#footer .lenguage .lenguage-toggle .arrow-box i.icon:last-child{margin-bottom: 2px;}
#footer h1.footer-logo{margin:30px 0;}
#footer .corp li{margin:0 10px;}
#footer .corp li::after{
    content: "";
    display: inline-block;
    position: relative;
    width: 1px;
    height: 10px;
    right:-10px;
    background: rgba(255, 255, 255, 0.3);
}
#footer .corp li:last-child::after{content: none;}
#footer .bnet-text{margin:40px 0;}
#footer .bnet-text a{color: #009dff;}
#footer .trademark p{font-size:1.2rem;color:rgba(255, 255, 255, 0.5);}
#footer .corp-links-bottom{margin-top: 4px;font-size: 1.2rem;color: rgba(255, 255, 255, 0.7);}
#footer .corp-links-bottom li::after{top:1px;}
#footer .address{padding:30px 20px;font-size: 1rem;font-style: normal;}
#footer .address .corp-detail{width: 365px;margin: 0 auto;}
#footer .address .corp-detail span{position: relative;padding:0 5px;}
#footer .address .corp-detail span::after{
    content: "";
    display:block;
    position: absolute;
    width: 1px;
    height: 6px;
    right:0;
    top:50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
}
#footer .address .corp-detail span:nth-child(3n+3)::after{content: none;}
#footer .address .corp-detail span:last-child::after{content: none;}

.modal-background{position: fixed;top:0;left:0;right: 0;bottom: 0;background-color: rgba(0,0,0,0.5);z-index: 50;}

@media screen and (max-width:1050px) {
    body{min-width:1050px;}
}